/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }

  .bg-inverse {background-color: #27880d !important;}

  .fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
  }

  .fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
  }

 .hiden{
    display:none;
}

.text-right {text-align:right;}
