<div class="container">
    
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyUserFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
      
        <mat-table #table [dataSource]="userDataSource" matSort>
      
          <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> First Namex </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
          </ng-container>
  
          <ng-container matColumnDef="loginId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Login Id</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.loginId}} </mat-cell>
          </ng-container>
      
         <ng-container matColumnDef="createdTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Created </mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.createdTime | date }}</mat-cell>
          </ng-container>  
          
          <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
            <button (click)="onSelect(user)" class="btn btn-primary btn-simple btn-xs" rel="tooltip" title="Edit User" type="button">
                  <i  class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
            </ng-container>
          
          <button mat-button ><i  class="fa fa-pencil" aria-hidden="true"></i></button>
          <button (click)="onSelect(user)" class="btn btn-primary btn-simple btn-xs" rel="tooltip" title="Edit User" type="button">
              <i  class="fa fa-pencil" aria-hidden="true"></i>
              </button>
  
          <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef > Delete </mat-header-cell>
              <mat-cell> <i (click)="onSelect(element)" class="fa fa-envelope-o" aria-hidden="true"></i> </mat-cell>  
            </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      
    </div>  