
  .form-control{

    font-size: 13px;
    font-family: Roboto, "Helvetica Neue", sans-serif;

  }

  .label-small {
    vertical-align: super;
    font-size: 13px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }

  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }


  .gap{
    padding-top: 15px;
    padding-left: 10px;
  }


  .new-po {
    padding-left: 700px;

  }

  .mat-cell{
    font-size: 12px;
    min-height: 1px;
  }

  .mat-cell:first-child{
      padding-left: 1px;

  }

  .mat-footer-row{
    width: 800px;
    min-height: 35px;
  }

  .mat-header-row{
    width: 850px;
    min-height: 30px;
    margin-left: 20px;
  }

  .mat-row{
    width: 850px;
    min-height: 30px;
    margin-left: 20px;

  }

  .mat-header-cell{
    width: 850px;

  }

  .mat-table{
    width: 850px;
  }

  .mat-header-cell{
    width: 800px;
  }

  .mat-icon{
    padding-left: 4px;
    padding-right: 4px;
  }

  .mat-icon-button {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }


  .mat-toolbar {
    width: 1100px;
    height: 30px;
    padding-bottom: 4px;
  }

  .mat-row:hover {
    background-color: #eafaea;
  }

  .mat-row:active {
    background-color: gray
  }


  .pull-left {
    padding-left: 0px;
  }

  .card-body{

    padding: .5rem;
    width: 900px;
  }

  .card-header{
    font-size: 1.00rem;
    font-weight: 500;
    width: 900px;

  }

  .card{
    width: 900px;
    margin-left: -30px;
  }

#facebook {
  color:blue;
  font-style: italic;
  font-weight: normal;
}

#twitter {
  color:blue;
}

#wcso {
  color: #03a9f4b5;
}
