.card {
  width: 1110px;
  padding-bottom: 25px;
}

.hr {
  border: 0;
  border-top: 1px solid #8c8c8c;
  border-bottom: 1px solid #fff;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 800px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}


.mat-cell,
.mat-header-cell {
  flex: 0 0 30%;
}

.mat-column-Actions {
  flex: 0 0 100px !important;
  white-space: unset !important;
}

#facebook {
  color:blue;
  font-style: italic;
  font-weight: normal;
}

#twitter {
  color:blue;
}

#wcso {
  color: green;
  font-weight: bold;
}
