<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAGZ6xu-PUDubQLdxQvBl5DeJgXscWEbPo"></script>
<div >
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyMessageFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

 <!--   <div class="container">
        <div fxLayout="row" fxLayoutAlign="start center" class="content">
          <div class="blocks" fxFlex = "25%">1</div>
          <div class="blocks" fxFlex = "25%">2</div>
          <div class="blocks" fxFlex = "25%">3</div>
          <div class="blocks" fxFlex = "25%">4</div>

        </div>
      </div>  -->

    <mat-table #table [dataSource]="messageDataSource" matSort>

        <ng-container matColumnDef="from">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="50px" > From </mat-header-cell>
            <mat-cell fxFlex="50px" *matCellDef="let row">
              <button *ngIf="showFbIconRow(row)" mat-icon-button color="blue" focusable="false" >
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </button>
              <button *ngIf="!showFbIconRow(row) && !showTwitterIconRow(row)" mat-icon-button color="blue" focusable="false" >
                  <img src="../assets/dcccd-police-black.svg" alt="WCSO">
              </button>
              <button *ngIf="showTwitterIconRow(row)" mat-icon-button color="blue" focusable="false" >
                  <i class="fa fa-twitter-square" aria-hidden="true"></i>
              </button>
            </mat-cell>
        </ng-container>

      <ng-container matColumnDef="message">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="300px"> Message </mat-header-cell>
          <button  mat-icon-button color="primary" focusable="false" >
            <i class="fa fa-pencil mat-icon"></i>
          </button>
        <mat-cell  fxFlex="300px"  id={{getClass(row)}}   *matCellDef="let row"> {{row.message}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="threadId">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="140px"> ConversationId </mat-header-cell>
        <mat-cell fxFlex="140px" id={{getClass(row)}} *matCellDef="let row"> {{row.threadId}}   </mat-cell>
      </ng-container>

      <ng-container matColumnDef="created">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="180px"> Created </mat-header-cell>
     <!--     <mat-cell *matCellDef="let row"> {{row.createdTime | date: 'medium'}} </mat-cell>  -->
          <mat-cell id={{getClass(row)}} fxFlex="180px" *matCellDef="let row"> {{row.createdTime | dateFormat}} </mat-cell>
       </ng-container>

      <ng-container matColumnDef="address">
          <mat-header-cell fxFlex="225px" *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
          <mat-cell fxFlex="225px"  id={{getClass(row)}} *matCellDef="let row">{{ row.address}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="reply">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="50px"> Reply </mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="50px">
              <button  mat-icon-button color="primary" focusable="false" disabled="{{!showFbIconRow(row)}}" (click)="onSelect(row)">
                    <i class="fa fa-pencil mat-icon"></i>
              </button>
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="close">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="50px"> Close  </mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="50px">
              <button *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="closeThread(row)">
                  <i class="fa fa-times mat-icon"></i>
              </button>
          </mat-cell>
      </ng-container>

      <ng-container matColumnDef="attachment">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="65px"> Attachment </mat-header-cell>
          <mat-cell *matCellDef="let row" fxFlex="65px">
              <button   *ngIf="row.attachmentUrl" mat-icon-button color="primary" focusable="false" (click)="showAttachmentComponent(row)">
                  <i  class="fa fa-file-image-o"></i>
              </button>
          </mat-cell>
      </ng-container>

    <!--  <ng-container matColumnDef="actionsColumn">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Reply &nbsp; &nbsp; Close Thread &nbsp; Attachment</mat-header-cell>

          <mat-cell *matCellDef="let row">
            <button  mat-icon-button color="primary" focusable="false" disabled="{{!showFbIconRow(row)}}" (click)="onSelect(row)">
                  <i class="fa fa-pencil mat-icon"></i>
            </button>
            <button  style="padding-left: 30px;" *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="closeThread(row)">
                    <i class="fa fa-times mat-icon"></i>
            </button>
            <button style="padding-left: 60px;"  *ngIf="row.attachmentUrl" mat-icon-button color="primary" focusable="false" (click)="showAttachmentComponent(row)">
                <i  class="fa fa-file-image-o"></i>
            </button>
          </mat-cell>
        </ng-container>
      -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
    <br>
    <br>

      <mat-card *ngIf="showAttachment" class="card">
          <mat-card-header>
            <mat-card-title>Attachment Regarding Thread {{selectedMessage.threadId}}</mat-card-title>
            <mat-card-subtitle>Uploaded {{selectedMessage.createdTime | dateFormat}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src={{selectedMessage.attachmentUrl}} alt="Photo">
        </mat-card>

        <hr *ngIf="editRow">
  <div *ngIf="editRow" class="jumbotron">
    <h1 class="display-4">Reply</h1>
      <br>
        <div class="row">
          <div class="col-md-12">
              <textarea  class="form-control lead" name="message" required [(ngModel)]="newMessage.message" #message="ngModel" placeholder="Click to Enter Message" matTextareaAutosize matAutosizeMinRows="4"
              matAutosizeMaxRows="10" matInput> </textarea>
            <br>
          </div>
        </div>
        <hr>
      <div *ngIf="showFbIcon()">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </div>
      <div *ngIf="!showFbIcon()">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </div>
      <div></div>

      <p class="lead">{{selectedMessage.message}}</p>
     <hr>
          <p class="lead">
            <button (click)="sendMessage()" type="button" class="btn btn-success btn-lg "> Send </button>
          </p>
  </div>
</div>

