<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAGZ6xu-PUDubQLdxQvBl5DeJgXscWEbPo"></script>
<div >
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyMessageFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  
    <mat-table #table [dataSource]="messageDataSource" matSort>
  
      <ng-container matColumnDef="message">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Message </mat-header-cell>
        <mat-cell xFlex="100px" *matCellDef="let row"> {{row.message}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="threadId">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ThreadId </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.threadId}} </mat-cell>
      </ng-container>  

      <ng-container matColumnDef="created">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Created </mat-header-cell>
     <!--     <mat-cell *matCellDef="let row"> {{row.createdTime | date: 'medium'}} </mat-cell>  -->
          <mat-cell fxFlex="60px" *matCellDef="let row"> {{row.createdTime | dateFormat}} </mat-cell>
       </ng-container>

      <ng-container matColumnDef="address">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.address}}</mat-cell>
        </ng-container>

      <ng-container matColumnDef="actionsColumn">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Reply &nbsp; &nbsp; Close Thread</mat-header-cell>
         
          <mat-cell *matCellDef="let row">
            <button *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="onSelect(row)">
                  <i class="fa fa-pencil mat-icon"></i>
                </button>
                <button  *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="closeThread(row)">
                    <i class="fa fa-times mat-icon"></i>
                  </button> 
            <button   *ngIf="row.editing" mat-icon-button color="primary" focusable="false" (click)="row.confirmEditCreate()">
                  <i class="fa fa-check mat-icon"></i>  
                </button>  
                
            </mat-cell>
        </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> 

    </mat-table>
    <br>
    <br>
        <div class="row">
          <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title">Confirm Close Thread</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>To close thread click Ok</p>
            </div>
            <div class="modal-footer">
              
              <button type="button" class="btn btn-outline-light" (click)="open(content, row)" >Ok</button>
              <button type="button" class="btn btn-outline-light" (click)="c('Close click')">Cancel</button>
            </div>
          </ng-template>
        </div>
      
  <div *ngIf="editRow" class="jumbotron">
    <h1 class="display-4">Reply</h1>
      <br>
        <div class="row">
          <div class="col-md-12">
              <textarea  class="form-control lead" name="message" required [(ngModel)]="newMessage.message" #message="ngModel" placeholder="Click to Enter Message" matTextareaAutosize matAutosizeMinRows="4"
              matAutosizeMaxRows="10" matInput> </textarea>
            <br>
          </div>
        </div>
      <hr>
      <p class="lead">{{selectedMessage.message}}</p> 
        <hr>
          <p class="lead">
            <button (click)="sendMessage()" type="button" class="btn btn-success btn-lg "> Send </button> 
          </p>
  </div>
</div>

